/* =====================================
   Hero Section
===================================== */

.hero{

    display:flex;

    align-items:center;

    justify-content:center;

    min-height:100vh;

}

/* =====================================
   Hero Content
===================================== */

.hero-content{

    max-width:800px;

}

/* Small Badge */

.hero-tag{

    display:inline-block;

    padding:8px 18px;

    border:1px solid rgba(255,255,255,.12);

    border-radius:50px;

    background:rgba(255,255,255,.05);

    backdrop-filter:blur(12px);

    letter-spacing:2px;

    font-size:.8rem;

    margin-bottom:30px;

}

/* Name */

.hero h1{

    font-size:5rem;

    line-height:1.1;

    margin-bottom:25px;

}

.hero h1 span{

    color:#4da3ff;

}

/* Subtitle */

.hero h2{

    font-size:2rem;

    font-weight:400;

    color:#d8d8d8;

    margin-bottom:25px;

}

/* Description */

.hero p{

    max-width:650px;

    font-size:1.2rem;

    color:#9d9d9d;

    margin-bottom:45px;

}

/* Buttons */

.hero-buttons{

    display:flex;

    gap:20px;

    flex-wrap:wrap;

}